* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "ClashGrotesk-Variable";
  src: url("./Assets/fonts/ClashGrotesk-Variable.woff2") format("woff2"),
    url("./Assets/fonts/ClashGrotesk-Variable.woff") format("woff"),
    url("./Assets/fonts/ClashGrotesk-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

body {
  font-family: ClashGrotesk-Variable;
  font-weight: 400;
  width: 100%;
  overflow-x: hidden;
}

.empty{
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 4;
}


.pad {
  padding: 100px 0;
}
.pad_bottom{
  padding-bottom: 100px;
}
.pad_top{
  padding-top: 100px;
}
.row > * {
  padding: 0;
}
.row {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

:root {
  --blue: #00bed6;
}
.mobile_menu{
  position: fixed;
  display: none;
  height: 100vh;
  top: 0;
  right: 0px;
  width: 300px;
  background-color: var(--blue);
  padding: 100px 20px 20px 20px;
  transform: translateX(100%);
  transition: 0.3s all;
  z-index: 5;
}
.show_mobile_menu{
  transform: translateX(0%);

}
.mobile_menu_icon{
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 4px;
}
.mobile_menu_icon svg{
  width: 40px;
  color: white;
}
header .mobile_menu nav ul{
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}
header .mobile_menu a.call_btn{
  width: fit-content !important;
}
header .mobile_menu .close_btn{
  position: absolute;
  top: 25px;
  right: 20px;
  background: none;
  border: none;
}
header .mobile_menu .close_btn svg{
  width: 40px;
}
header .mobile_menu .close_btn svg path{
  stroke: white;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  padding:20px 0;
  display: flex;
  justify-content: center;
  width:100vw;
  z-index: 5;
  transition: 0.3s all;
}
header.fixed_header{
background-color: var(--blue);
padding: 10px;
}
header .logo img{
  transition: 0.3s all;
  transition:center left;
}
header.fixed_header .logo img{
  transform: scale(0.9);
}

header nav {
  display: flex;
  align-items: center;
}

header nav ul {
  display: flex;
  list-style: none;
  gap: 32px;
  margin-bottom: 0;
  padding-left: 0;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  position: relative;
}
header nav ul li a::before{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 1px;
  background-color: white;
  transition: 0.3s all;
}
header nav ul li a:hover::before{
  width: 100%;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a.call_btn {
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 50px;
  border: solid white 1px;
  color: white;
  display: flex;
  align-items: center;
  gap: 12px;
  transition: 0.3s all;
}
a.call_btn:hover{
  background-color: white;
  color: var(--blue);
}
a.call_btn:hover svg path{
  fill: var(--blue);
}
.hero_banner {
  background: linear-gradient(
    0deg,
    rgba(0, 190, 214, 0) 0%,
    #00bed6 50%,
    #006370 100%
  );
  width: 100%;
  height: fit-content;
  position: relative;
}

.hero_banner .container {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0 100px calc((100vw - 1180px) / 2);
  width: 100% !important;
  max-width: 100%;
}

.hero_banner .container .content {
  width: 30%;
}

.hero_banner .container .content p {
  color: white;
}

.hero_banner .container .content .heading {
  font-size: 42px;
  line-height: 55px;
  color: white;
}
.hero_banner .container .content .heading span {
  font-weight: 800;
  font-size: 70px;
  line-height: 80px;
}

.hero_banner .container .image {
  width: 65%;
  z-index: 2;
  position: relative;
  overflow: hidden;
}
.hero_banner .container .image img.z_layer {
  width: 100%;
  right: -50px;
  position: relative;
}
.hero_banner .container .image img.m1,
.hero_banner .container .image img.m2,
.hero_banner .container .image img.made {
  width: 100%;
  position: absolute;
  top: 0;
}

.hero_banner .container .image img.made {
  left: 30px;
}

.hero_banner .container .image img.m1,
.hero_banner .container .image img.m2 {
  left: 0%;
}

.hero_banner ul.slick-dots {
  text-align: left;
  bottom: 28%;
  padding-left: calc((100vw - 1180px) / 2);
  display: flex !important;
  gap: 10px;
}

.hero_banner ul.slick-dots li {
  margin: 0 !important;
  width: 5px;
  height: 5px;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s all;
}
.hero_banner ul.slick-dots li.slick-active {
  width: 40px;
}
.hero_banner ul.slick-dots li button,
.hero_banner ul.slick-dots li button::before {
  width: 100%;
  height: 100%;
}
.hero_banner ul.slick-dots li button::before {
  opacity: 0.75;
}
.hero_banner ul.slick-dots li.slick-active button::before {
  opacity: 1;
}

.hero_banner ul.slick-dots li button:before {
  color: rgba(255, 255, 255, 0) !important;
  background-color: white;
  left: 0 !important;
}

.about .row {
  justify-content: space-between;
  align-items: center;
}

.about .row .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.about .row .image {
  display: flex;
  justify-content: center;
}
.about .row .image img {
  width: 70%;
}

.heading_section {
  width: 100%;
  max-width: 600px;
  text-align: center;
  margin: 0 auto 40px auto;
}
.heading {
  color: var(--blue);
  font-size: 48px;
  line-height: 56px;
}

.our_values .split {
  justify-content: space-between;
  width: 100%;
  padding-right: calc((100vw - 1180px) / 2);
}

.our_values .split ._cards {
  display: flex;
  gap: 20px;
  align-items: center;
}
.our_values .split ._cards .single_card_col {
  width: 50%;
}
.our_values .split ._cards .single_card_col,
.our_values .split ._cards .single_card_col ._card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.our_values .split ._cards .single_card_col ._card {
  align-items: center;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  transition: 0.3s all;
}
.our_values .split ._cards ._cards1 ._card:nth-child(1) {
  background-color: #E5F8FB;
}
.our_values .split ._cards ._cards1 ._card:nth-child(2) {
  background-color: #CCF2F7;
}
.our_values .split ._cards ._cards1 ._card:nth-child(3) {
  background-color:#B3EBF3;
}
.our_values .split ._cards ._cards2 ._card:nth-child(1) {
  background-color: #99E5EF;
}
.our_values .split ._cards ._cards2 ._card:nth-child(2) {
  background-color:#80DFEB;
}
.our_values .split ._cards .single_card_col ._card img {
  width: 80px;
  filter: drop-shadow(4px 8px 34px rgba(0, 0, 0, 0.15));
  transition: 0.3s all;
}
.our_values .split ._cards .single_card_col ._card p{
  transition: 0.3s all;
}
.our_values.split ._cards .single_card_col ._card:hover img {
  transform: rotateY(180deg);
}
/* .our_values .split ._cards ._cards1 ._card:nth-child(1):hover {
  background-color: rgba(255, 198, 0, 0.5);
}
.our_values .split ._cards ._cards1 ._card:nth-child(2):hover {
  background-color: rgba(203, 10, 86, 0.5);
}
.our_values .split ._cards ._cards1 ._card:nth-child(3):hover {
  background-color: rgba(86, 199, 56, 0.5);
}
.our_values .split ._cards ._cards2 ._card:nth-child(1):hover {
  background-color: rgba(0, 190, 214, 0.5);
} */
.our_values .split ._cards .single_card_col ._card:hover {
  background-color: var(--blue);
}
.our_values:not(.clients) .split ._cards .single_card_col ._card:hover p{
  color: white;
}
.products ._cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.products ._cards .row {
  justify-content: space-around;
}
.products ._cards .row .product_name {
  font-size: 32px;
  line-height: 48px;
  font-weight: 500;
  color: var(--blue);
}

.products ._cards .row .buttons {
  display: flex;
  gap: 20px;
}
.products ._cards .row .buttons .product_enquiry {
  background-color: var(--blue);
  color: white;
  border-radius: 50px;
  padding: 12px 24px;
  border: none;
  text-decoration: none;
  transition: 0.3s all;
}
.products ._cards .row .buttons .product_enquiry:hover{
  background:#00b4cc;
  transform: translateY(-3px);
}
.products ._cards .row img {
  width: 100%;
}
.products ._cards .row .buttons .product_brochure {
  display: flex;
  font-weight: 600;
  color: var(--blue);
  align-items: center;
  background: transparent;
  border: none;
  gap: 8px;
  transition: 0.3s all;
}
.products ._cards .row .buttons .product_brochure:hover{
transform: translateY(-3px);
}
.products ._cards .row .buttons .product_brochure img {
  width: 18px;
}

.clients{
  background: linear-gradient(180deg, #F4F4F4 0%, #DDD 100%);
}

.clients .heading_section {
  text-align: left;
  width: 70%;
  max-width: 480px;
  margin-left: calc((100vw - 1180px) / 2);
}

.our_values.clients .split ._cards{
  align-items: flex-start;
}
.our_values.clients .split ._cards .single_card_col ._card {
  align-items: flex-start;
  text-align: left;
  gap: 10px;
  background-color: white;
}
.our_values.clients .split ._cards .single_card_col ._card:hover{
  background-color: white;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
  transform: scale(1.01);
}
.our_values.clients .split ._cards .single_card_col ._card:hover img{
  transform: none;
}
.our_values.clients .split ._cards .single_card_col ._card  .test_details{
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.our_values.clients .split ._cards .single_card_col ._card  .test_details .image{
  width: 50px;
  height: 50px;
  border-radius: 100px;
}
.our_values.clients .split ._cards .single_card_col ._card  .test_details .image img{
  width: 100%;
}
.our_values.clients .split ._cards .single_card_col ._card  .test_details .content .name{
  color: var(--blue);
  font-weight: 500;
}
.our_values.clients .split ._cards .single_card_col ._card  .test_details .content p{
  margin-bottom: 0;
}
.our_values.clients .split ._cards .single_card_col._cards2{
  margin-top: 100px;
}
.full_img{
  border-radius: 0 100px 100px 0;
}

.contact form,
.download_brochure .download_form form{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.download_brochure .download_form form{
  gap: 20px;
  margin-top: 10px;
}

.contact form input,
.contact form select,
.download_brochure .download_form form input{
  width:calc(50% - 15px);
  border: none;
  background-color: #F0F0F0;
  padding: 14px;
  border-radius: 4px;
  color: var(--blue);
}

.download_brochure .download_form form input{
  width: 100%;
}
.contact form select{
  border-right: 16px solid transparent
}
.contact form input::placeholder,
.download_brochure .download_form form input::placeholder{
  color: var(--blue);
}
.contact form button,
.download_brochure .download_form form button{
  width: fit-content;
  margin: auto;
  background: var(--blue);
  border: none;
  color: white;
  padding: 10px 40px;
  border-radius: 50px;
  margin-top: 10px;
  transition: 0.3s all;
  border: solid var(--blue) 1px;
}
.contact form button:hover,
.download_brochure .download_form form button:hover{
  border: solid var(--blue) 1px;
  background-color: white;
  color: var(--blue);
}

.contact form input:focus,
.contact form select:focus,
.download_brochure .download_form form input:focus{
  outline: solid var(--blue) 1px;
  background-color: white;
}

footer{
  background-color: var(--blue);
  padding: 40px 0;
}
footer .container{
  display: flex;
 align-items: center;
 justify-content: space-between;
}
footer .container ul.social_links{
display: flex;
align-items: center;
list-style: none;
gap: 20px;
margin-bottom: 0;
padding-left: 0;
}

footer .container ul.social_links li{
  transition: 0.3s all;
}
footer .container ul.social_links li:hover{
  transform:translateY(-5px);
}


footer .container p{
  margin-bottom: 0;
  color: white;
}

.error{
  text-align: center;
  color: red;
  width: 100%;
  margin-bottom: 0;
}
.download_brochure{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}
.download_brochure .download_form{
width: 80%;
max-width: 400px;
background-color: white;
padding: 30px;
border-radius: 5px;
position: relative;
overflow: hidden;
animation: open_popup 0.3s;
}
@keyframes open_popup {
  from{
    transform: scale(0.9);
    opacity: 0;
  }
  to{
    transform: scale(1);
    opacity: 1;
  }
}
.download_brochure .download_form .popup_close_btn{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 25px;
  background-color: var(--blue);
  border: none;
  border-radius: 0 0 0 5px;
  transition: 0.3s all;
}
.download_brochure .download_form .popup_close_btn:hover{
  background-color: #02a9be;
}
.download_brochure .download_form .popup_close_btn svg path{
  stroke: white;
}
.download_brochure .download_form h6,
.download_brochure .download_form p{
  text-align: center;
}
.download_brochure .download_form h6 span{
  color: var(--blue);
}

.thankyou{
  width: 90%;
  max-width: 500px;
  background-color: white;
  border-radius: 8px;
  padding: 25px;
  text-align: center;
  animation:open_popup 0.3s ;
}
.thankyou button{
  border: none;
  background-color: var(--blue);
  color: white;
  transition: 0.3s all;
  padding: 6px 24px;
  border-radius: 50px;
}

.thankyou button:hover{
  background:#00b4cc;
}

.products ._cards .row{
  width: 100%;
}
.coming_soon{
  font-weight: 500;
  font-size: 35px;
  opacity: 70%;
  line-height: 70px;
}
@media screen and (max-width: 1200px) {
  .full_img{
    border-radius: 0 ;
  }
  
  .our_values.clients .split ._cards .single_card_col._cards2 {
   margin-top: 0
}
  .pad_bottom{
    padding-bottom: 50px;
  }
  .pad_top{
    padding-top: 50px;
  }
  .clients .heading_section {
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 0 20px;
}
  .our_values .split {
    gap: 40px;
    align-items: center;
  }
  .our_values .split ._cards {
    padding: 0 20px;
    /* flex-direction: column; */
  }
  /* .our_values .split ._cards .single_card_col {
  width: 100%;
} */
  .heading_section {
    margin-bottom: 20px;
    padding: 0 20px;
  }
  .pad {
    padding: 50px 0;
  }

  .about .row {
    gap: 20px;
  }
  .about .row .content {
    align-items: center;
  }

  .about .row .content p {
    width: 100%;
    max-width: 700px;
    text-align: center;
  }

  .hero_banner ul.slick-dots li button:before {
    background-color: var(--blue);
  }

  .hero_banner ul.slick-dots {
    justify-content: center;
    bottom: 5%;
    padding-left: unset;
  }
  .hero_banner .container {
    align-items: center;
    flex-direction: column;
    padding: 100px 20px 100px 20px;
    gap: 20px;
  }
  .hero_banner .container .content {
    width: 50%;
    text-align: center;
  }
  .hero_banner .container .image {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .clients.our_values .split ._cards{
    gap: 20px;
  }
  .our_values .split ._cards {
gap: 0;
}
  .mobile_menu{
    display: block;
  }
  footer .container{
    flex-direction: column;
    gap: 20px;
  }
  .contact form{
   flex-direction: column;
   gap: 20px;
  }
  
.contact form input,
.contact form select{
  width:100%;
}
  .products ._cards .row .image {
    order: 1;
  }
  .products ._cards .row .content {
    order: 2;
  }
  .products ._cards .row > div {
    text-align: center;
  }
  .products ._cards .row .product_name {
    font-size: 22px;
    line-height: 30px;
  }
  .our_values .split ._cards {
    flex-direction: column;
  }
  .our_values .split ._cards .single_card_col {
    width: 100%;
  }
  .heading {
    font-size: 35px;
    line-height: 43px;
  }
  .about .row .image img {
    width: 100%;
  }
  .hero_banner .container {
    padding: 120px 0px 50px 0px;
  }

  .hero_banner .container .content {
    width: 100%;
    text-align: center;
    padding: 0 20px;
  }
  .hero_banner .container .content .heading {
    font-size: 25px;
    line-height: 33px;
  }
  .hero_banner .container .image img.z_layer {
    right: 0px;
  }
  .hero_banner .container .image img.made {
    left: 0;
  }
  .hero_banner .container .content .heading span {
    font-size: 50px;
    line-height: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .products ._cards{
    position: relative;
  }
.product_1{
 background-color:#F2FCFD; 
 transform-origin: top center;
 border-radius: 5px;
}
.product_2{
  background-color: #E5F8FB; 
  position: absolute;
  transform: translateY(120%);
  border-radius: 5px;
 }
 .product_3{
  background-color:#D9F5F9; 
  position: absolute;
  transform: translateY(240%);
  border-radius: 5px;
 }
 .product_4{
  background-color: #CCF2F7; 
  position: absolute;
  transform: translateY(360%);
  border-radius: 5px;
 }
}